.List {
    padding: 20px;
}

.Store {
    padding: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

p {
    white-space: pre;

    display: flex;

    align-items: center;

}

.addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}